* {
    padding: 0;
    margin: 0;
}

.container {
    width: 75%;
    margin: 0 auto;
}

/* header_area_css */

.header_area {
    width: 100%;
    background-image: url("./assets/image/background.jpg"), linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_area .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_area {
    background-color: #cacaca;
    padding: 10px 0;
}

.menu ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    text-transform: capitalize;
    padding: 0 10px;
    color: black;
}

.banner_area .container {
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}

.call_to_action_area {
    text-align: center;
}

.call_to_action_area h1 {
    font-size: 85px;
    font-weight: 900;
    text-transform: capitalize;
}

.call_to_action_area h1 span {
    color: #F52C2C;
}

.call_to_action_area p {
    font-size: 21px;
    letter-spacing: 0.8px;
    line-height: 30px;
}

.call_to_action_area .btn_area {
    margin-top: 30px;
}

.call_to_action_area .btn_area button {
    text-transform: uppercase;
    font-size: 16px;
    padding: 15px 30px;
    border: none;
    margin: 0 5px;
    cursor: pointer;
    font-weight: 600;
}

.btn_area .more {
    background-color: #F52C2C;
    color: white;
}

.btn_area .hire {
    color: #F52C2C;
}

/* service_area_css */

.service_area {
    padding: 120px 0;
    background-image: url("./assets/image/footer-bg.png"), linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-repeat: inherit;
}

.service_details_area {
    width: 50%;
}

.service_items_area {
    width: 40%;
    margin-left: 10%;
}

.service_area .container {
    display: flex;
    align-items: center;
}

.service_items_area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: center;
}

.service_item {
    background-color: white;
    text-align: center;
    padding: 80px 0;
    border-radius: 10px;
}

.service_item img {
    width: 120px;
    margin-bottom: 20px;
}

.service_item p {
    margin-top: 20px;
    font-size: 23px;
    text-transform: capitalize;
}

.service_details_area {
    color: rgb(231, 231, 231);
}

.service_details_area h2 {
    font-size: 40px;
    text-transform: capitalize;
}

.service_details_area h2 span {
    color: #F52C2C;
}

.service_details_area>p {
    font-size: 20px;
    margin: 30px 0;
}

.service_details_area ul {
    list-style: none;
    margin: 30px 0;
}

.service_details_area ul li {
    font-size: 20px;
}

.author_area {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service_details_area button {
    font-size: 17px;
    text-transform: capitalize;
    border: none;
    padding: 13px 30px;
    border-radius: 25px;
}

.service_button_1 {
    color: #979797;
}

.service_button_2 {
    color: #F52C2C;
}

.author_details {
    width: 50%;
}

.author_details img {
    width: 80px;
    border-radius: 50%;
}

.author_details {
    display: flex;
    align-items: center;
    gap: 15px;
    border-right: 1px solid #F52C2C;
}

.author_information p:first-child {
    font-size: 20px;
    text-transform: capitalize;
}